body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  background-color: #89C4FF;
  color: #44251A;
  background-image: url('../images/atlas.png');
  background-size: cover;
}

